body{
    background: url(/Image/wp1809709-overwatch-wallpapers.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
    gap: 20px;
}


.central{
background: rgba(235, 231, 231, 0.288);
width: 350px;
height: 200px;
border-radius: 20px;
box-shadow: 3px 3px 10px black;
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
}


.central div{
background: rgba(0, 0, 0, 0.164);
color: rgb(5, 5, 5);
height: 150px;
width: 100px;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.central div span{
font-size: 60px;
}


.central div p{
font-size: 22px;
margin: 0;

}








.semana{
    background: rgba(255, 255, 255, 0.199);
    width: 350px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px black;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    color: black;
    font-size: 30px;
    gap: 10px;
    }



   .semana div{
    background: rgba(255, 255, 255, 0.219);
    color: rgba(0, 0, 0, 0.952);
    font-size: 40px;
   }

   







































































